<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/security 
 http://www.springframework.org/schema/security/spring-security-4.0.xsd">
 	
 <!-- <http use-expressions="false">
 <intercept-url pattern="/welcome*"  access="ROLE_USER"/>
 <http-basic/>
 </http> -->
 
 <http use-expressions="false">
 <intercept-url pattern="/welcome*"  access="ROLE_USER"/>
<form-login/>
<logout logout-success-url="/home"/>
 </http>
 
 
<!--  Custom login form  -->
<!-- <http use-expressions="false" >
 <intercept-url pattern="/welcome*"  access="ROLE_USER"/>
<form-login login-page="/login" default-target-url="/welcome" authentication-failure-url="/loginfailed"/>
<logout logout-success-url="/logout"/>

<session-management>
<concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
</session-management>
 </http> -->
 
 
 <authentication-manager>
 	<authentication-provider>
 	<password-encoder hash="sha-256"></password-encoder>
 		<user-service>
 			<!-- <user name="subratPanda" password="123" authorities="ROLE_USER"/> -->
 			<user name="subratPanda" password="a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3" authorities="ROLE_USER"/>
 			
 		</user-service>
 	</authentication-provider>
 
 </authentication-manager>
 </beans:beans>